email=gayan.m@intervest.lk
always-auth=true
registry=https://staysure.jfrog.io/artifactory/api/npm/component-library-qa-virtual/
//staysure.jfrog.io/artifactory/api/npm/component-library-qa-virtual/:_auth=Z2F5YW4gbWFkaHVzYW5raGE6QVAzSDVyZmRwVWVqNWVYVkNvTVZpb3N0c1J0
